
// Colours
$primary-black: #2B2B2B;
$primary-blue: #122C91;
$primary-teal: #1B4965;
$primary-pink: #AD62AA;


$secondary-cyan: #48D6D2;
$secondary-blue: #2A6FDB;
$secondary-pink: #EAB9C9;

$accent-cream: #FEFCBF;
$accent-blue: #62B6CB;
$accent-cyan: #81E9E6;
$accent-teal: #A6CFD5;
$accent-blue: #DBFCFF;

$incorrect-pink: #E56399;
$incorrect-purple: #413C69;
$correct-blue: #7F96FF;
$correct-purple: #4A47A3;

$outline-blue: #BEE9E8;
$deep-blue: #094246;
$background-cream: #F7F5E6;


$bg-manilla: #f7f5e6;
$primary-matcha: #a3c9a8;
$secondary-aloe: #84b59f;
$primary-aloe: #69a297;
$outline: #25171a;


$bg-purple: #4A1E86;
$accent-purple: #4200FF;
$secondary-orange: #9C4F58;
$secondary-purple: #320E3B;
$tertiary-purple: #9541AA;
$primary-yellow: #FFD600;
$primary-orange: #EA7A3B;
// Typography

.h1 {
  font-family: Almarai, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;

  color: white;
}

.h2 {
  font-family: Almarai, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;

  color: white;
}

.h3 {
  font-family: Almarai, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;

  color: white;
}

.body {
  font-family: Almarai, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  color: $primary-teal;
}


// Boilerplate

html, body, #__next {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

#root {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}