// Colours
$primary-black: #2b2b2b;
$primary-blue: #122c91;
$primary-teal: #1b4965;
$primary-pink: #ad62aa;

$secondary-cyan: #48d6d2;
$secondary-blue: #2a6fdb;
$secondary-pink: #eab9c9;

$accent-cream: #fefcbf;
$accent-blue: #62b6cb;
$accent-cyan: #81e9e6;
$accent-teal: #a6cfd5;
$accent-blue: #dbfcff;

$incorrect-pink: #e56399;
$incorrect-purple: #413c69;
$correct-blue: #7f96ff;
$correct-purple: #4a47a3;

$outline-blue: #bee9e8;
$deep-blue: #094246;
$background-cream: #f7f5e6;

$bg-manilla: #f7f5e6;
$primary-matcha: #a3c9a8;
$secondary-aloe: #84b59f;
$primary-aloe: #69a297;
$outline: #25171a;

$bg-purple: #4a1e86;
$accent-purple: #4200ff;
$secondary-orange: #9c4f58;
$secondary-purple: #320e3b;
$tertiary-purple: #9541aa;
$primary-yellow: #ffd600;
$primary-orange: #ea7a3b;

// Typography
.title {
  font-family: Rubik, sans-serif;
  font-weight: 900;
  font-weight: bold;
  font-style: italic;
  font-size: 7vw;

  color: $tertiary-purple;
}

.h1 {
  font-family: Almarai, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 5vw;

  color: white;
}

.h2 {
  font-family: Almarai, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5vw;

  color: white;
}

.h3 {
  font-family: Almarai, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5vw;

  color: white;
}

.body {
  font-family: Almarai, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  color: $primary-teal;
}

// Boilerplate

html,
body,
#__next {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}
