@keyframes circular-smooth {
  from {
    transform: rotate(0deg) translate(60vmin) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(60vmin) rotate(-360deg);
  }
}

.sr-oscillation {
  animation: circular-smooth infinite linear 5s;

  &:hover {
    animation-play-state: paused;
  }
}

.rectangle {
  position: absolute;
  top: 45%;
  left: 45%;

  background-color: white;
  width: 20vmin;
  height: 20vmin;
  border-radius: 50%;
}
