@import "./globalVariables";
@import "./app";

// Mobile first
.landing {
  position: absolute;
  width: 100%;
  min-height: 100%;
  height: max-content;
  padding: 16px;
  display: flex;
  position: relative;
  overflow-y: scroll;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: $bg-purple;
}

.greeting {
  position: relative;
  top: 15vmin;
  width: 80%;
  height: 60%;
  min-width: 192px;
  min-height: 224px;
  display: flex;
  flex-direction: row;
  align-self: center;
  z-index: 1;
  padding-bottom: 10vmin;
}

.greeting__left {
  flex-basis: 40%;
  height: min-content;
  align-self: center;
  margin-right: 20vw;
  display: flex;
  flex-direction: column;
}

.greeting__right {
  flex-basis: 60%;
  height: min-content;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.greeting__pic {
  height: 60vmin;
  object-fit: contain;
}

.greeting__title {
  @extend .h1;
  margin-bottom: 48px;
  transition: all ease 0.2s;
}

.greeting__body {
  @extend .h2;
  transition: all ease 0.2s;
}

.left-glowing-orb {
  // border-radius: 20%;
  // z-index: 0;
  // display: inline-block;
  // background: radial-gradient($tertiary-purple, transparent 70%);
  // left: 12%;
  // width: 40%;
  // height: 40%;
  // position: absolute;
  // animation: left-gradient 3s linear infinite;
}

.right-glowing-orb {
  // background: radial-gradient($primary-orange 0%, transparent 70%);
  // z-index: 0;
  // border-radius: 20%;
  // display: inline-block;
  // right: 12%;
  // width: 40%;
  // height: 40%;
  // position: absolute;
  // animation: right-gradient 3s linear infinite;
}

@keyframes left-gradient {
  0% {
    top: 5%;
  }
  50% {
    top: 15%;
  }
  100% {
    top: 5%;
  }
}

@keyframes right-gradient {
  0% {
    bottom: 0%;
  }
  50% {
    bottom: 10%;
  }
  100% {
    bottom: 0%;
  }
}


@media only screen and (min-width: 768px) {

  .greeting__left {
    flex-basis: 50%;
    height: 80%;
    margin-right: 48px;
    display: flex;
    flex-direction: column;
  }

  .greeting__right {
    flex-basis: 50%;
    height: min-content;
    align-self: center;
    display: flex;
    flex-direction: column;
  }

  .greeting__title {
    margin-bottom: 48px;
    transition: all ease 0.2s;
  }

  .greeting__body {
    transition: all ease 0.2s;
  }
  
  .left-glowing-orb {
    border-radius: 50%;
    z-index: 0;
    display: inline-block;
    background: radial-gradient($tertiary-purple, transparent 70%);
    left: 12%;
    width: 650px;
    height: 650px;
    position: absolute;
    animation: left-gradient 3s linear infinite;
  }

  .right-glowing-orb {
    background: radial-gradient($primary-orange 0%, transparent 70%);
    z-index: 0;
    border-radius: 50%;
    display: inline-block;
    right: 12%;
    width: 650px;
    height: 650px;
    position: absolute;
    animation: right-gradient 3s linear infinite;
  }
}