@import "./globalVariables";

.nav-bar {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  background: linear-gradient(180deg, $bg-purple, rgba(0, 0, 0, 0));
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5vmin 10vmin 2vmin 10vmin;
  z-index: 5;

  > * + * {
    margin-left: 16px;
  }
}

.nav-bar__icon {
  height: max-content;
  width: max-content;
  box-sizing: border-box;
  display: inline-block;
  background: none;

  > svg {
    width: 8vmin;
    height: 8vmin;

    * {
      transition: fill ease 0.2s, box-shadow ease 0.2s;
    }
  }

  &:hover {
    > svg {
      #white {
        fill: $accent-purple;
      }
      #colour {
        fill: white;
      }
    }
  }
}

.nav-bar__text {
  @extend .h3;
  text-decoration: none;
  display: inline-block;
  transition: color ease 0.2s;
}

.nav-bar__text-outline {
  width: max-content;
  height: 6vmin;
  border-radius: 15px;
  background: none;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 2vmin;
  border: none;
  transition: all ease 0.5s;
  text-decoration: none;

  &:hover {
    background: white;

    > .nav-bar__text {
      color: $accent-purple;
    }
  }
}

.nav-bar__text-outline-orange {
  width: max-content;
  height: 6vmin;
  border-radius: 15px;
  background: none;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 2vmin;
  border: 2px solid $primary-orange;
  transition: all ease 0.5s;
  text-decoration: none;

  &:hover {
    border: 2px solid white;
    background: white;

    > .nav-bar__text {
      color: $accent-purple;
    }
  }
}

@media screen and (min-width: 768px) {
}